* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b {
  border:3px solid yellow;
}
body {
  background-color: #18191a;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242526;
  display: grid;
  grid-template-columns: 5% 15% 60% 20%;
  z-index: 10;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  padding: 5%;
}
.logo img {
  width: 100%;
  height: 100%;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  width: 100%;
  padding: 3% 5%;
  border: none;
  border-radius: 15px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav ul {
  list-style: none;
  display: flex;
}
.nav a {
  color: #b0b3b8;
  font-size: 35px;
  margin-right: 70px;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profile-pic {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.profile-pic img {
  height: 100%;
  object-fit: cover;
}
.username h3 {
  color: #e4e6eb;
  font-family: sans-serif;
}
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
}

.post-text::after{
  display: block;
  content: "";
  width: 1000%;
  height: 2px;
  background-color: #3a3b3c;
  margin-top: 10px;
  color:


}
.menu{
  position: fixed;
  top: 60px;
  right: 0px;
  width: 20%;
  background-color: #242526;
  z-index: 5;
  border-bottom-left-radius: 10px;
  box-shadow: 5px 5px;
  display: none;

}

.menu ul{
  list-style: none;
}

.menu li a{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #e4e6eb;
  font-size: 20px;
  font-family: sans-serif;
  padding: 5%;
}
.menu li a:hover{
  background-color: white;
}

.menu li i{
  margin-right: 10px;
}

.make-post {
  width: 40%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #242526;

}
.post-text {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
    padding: 2%;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text input {
  width: 100%;
  padding: 2%;
  border: none;
  border-radius: 20px;
  background-color: #3a3b3c;
  color: white;
}
.post-visual {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.post-visual input {
  display: none;
}
.post-visual ul {
  list-style: none;
  display: flex;
}
.post-visual label {
  margin: 0 40px;
  color: #b0b3b8;
  font-size: 20px;
  font-family: sans-serif;
}
.post-visual i {
  margin-right: 10px;
}
.fa-picture-o {
  color: #45bd62;
}
.fa-video-camera {
  color: #f02849;
}

.make-post button{
  background-color: #2e89ff;
  border: none;
  width: 50%;
  margin: 25px 0;
  padding: 2%;
  font-size: 17px;
  color: white;
  border-radius: 10px;
}








.post {
  width: 40%;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #242526;
}
.post-maker {
  width: 100%;
  display: grid;
  grid-template-columns: 12% 88%;
  height: 50px;
}
.post-maker .profile-pic {
  margin: auto;
}
.post-maker h1 {
  margin: auto 0;
  font-family: sans-serif;
  font-size: 17px;
  color: #e4e6eb;
}
.post p {
  width: 100%;
  padding: 15px 2.5%;
  color: #e4e6eb;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.post-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-img img{
  width: 100%;
  margin-bottom: 15px;
}
.post-video {
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-video video{
  width: 100%;
  margin-bottom: 15px;
}
.likes-comments::after {
  display: block;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #3a3b3c;
}
.likes-comments {
  width: 95%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.like {
  flex: 0 0 15%;
  color: white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.like:hover{
  cursor: pointer;
}
.like i {
  margin-right: 5px;
}
.comment {
  flex: 0 0 85%;
  padding-left: 7%;

}
.comment form {
  display: flex;

}
.comment input {
  width: 85%;
  border: none;
  border-radius: 20px;
  padding: 2%;
  background-color: #3a3b3c;
  color: white;
}

.comment button {
  color: white;
  margin-left: 10px;
  background-color: #2e89ff;
  border: none;
  padding: 0 3%;
  border-radius: 5px;
}

.post span {
  display: block;
  color: white;
  font-family: sans-serif;
  margin-bottom: 20px;
  opacity: 0.7;
  padding-left: 3%;
}
.recent-comments {
  padding-left: 3%;
  font-family: sans-serif;
  color: white;
  max-height: 160px;
  overflow-y: auto;
}
.recent-comments h4 {
  opacity: 0.5;
  font-weight: lighter;
  letter-spacing: 1px;
}
.recent-comments p {
  padding-left: 0%;
  margin-top: -10px;
  margin-bottom: 15px;
}
.recent-comments::-webkit-scrollbar {
  width: 7px;
}
.recent-comments::-webkit-scrollbar-thumb {
  background-color: #18191a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.user-list {
  width: 25%;
  height: calc(100vh - 70px);
  position:fixed;
  top: 70px;
  right: 0;
  padding-left: 1%;
  padding-top: 1%;
}
.user-list h2 {
  font-family: sans-serif;
  font-size: 20px;
  color: #e4e6eb;
  margin-bottom: 15px;
}
.user-list .post-maker {
  border-radius: 5px;
  text-decoration: none;
}
.user-list .post-maker h1 {
  margin-left: 20px;
  text-decoration: none;
}
.post-maker:hover{
  background-color: #303031;
}
.profile:hover {
  background-color: #303031;
}
